body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#canvas{
	border: 1px solid black;
	margin: auto;
}

h1{
	font-size: 50px;
	font-family: Tahoma;
	margin-bottom: 15px;
}

button{
	font-size: 25px;
	padding: 5px;
	margin-top: 10px;
	display: none;
}